%html
  %head
    %title= @title
    %meta{:name => :author, :content => @author}
    %link#outlineStyle{:rel => :stylesheet, :href => 's6/shared/outline.css', :type => 'text/css', :media => :screen}
    %link#slidePrint{:rel => :stylesheet, :href => 's6/shared/print.css', :type => 'text/css', :media => :print}
    %link#slideProj{:rel => :stylesheet, :href => 's6/shared/slides.css', :type => 'text/css', :media => :projection}
    %link{:rel => :stylesheet, :href => 'style.css', :type => 'text/css', :media => :screen}

    %script{:src => 'jquery/jquery-1.4.2.min.js', :type => 'text/javascript'}
    %script{:src => 'jquery/jquery-ui-1.7.2.effects.min.js', :type => 'text/javascript'}
    %script{:src => 's6/shared/slides.core.js', :type => 'text/javascript'}
    %script{:src => 's6/shared/slides.js', :type => 'text/javascript'}
    :javascript
      $(function() {
        var center;
        center = function() {
          setTimeout(function() {
            $('.center').each(function() {
              $(this).css('left', ($(window).width() - $(this).width()) / 2);
            });
            center();
          }, 50);
        };
        center();
      });
  %body
    .layout
      .background
      #controls
      #currentSlide
      #header
      #footer
        #title
        #author

    .presentation
      = yield
